extends layout

block content
  h1= title
  h3 #[a(href="/Importer Blank.xlsx") Blank Spreadsheet Template]
  p This tool takes a XLSX file and transfers it into HubSpot properties. There are some limitations to this though:
    ol
      li Enumeration isn't supported at this time.
      li Does not (as of this moment) create custom objects
      li The API Requires the following scopes:
        li tickets
        li e-commerce
        li contacts
        li companies
        li custom objects
  p If you have any questions or run into any weird errors, please get in touch with #[a(href="mailto:matt@aptitude8.com") Matt] or #[a(href="mailto:thomas@aptitude8.com") Thomas].
  form(action='/submit-sheet', method='POST',enctype="multipart/form-data")
    label
      | Spreadsheet in XLSX format:
      input(type='file' name='spreadsheet' accept=".xlsx" required)
    label
      | API Token:
      input(type="password" name="token" required)
    input(type='submit', value='Submit')
