extends layout

block content
  h1= title
  img(src="https://2739300.fs1.hubspotusercontent-na1.net/hubfs/2739300/aptitude-logo-blacxk.svg")
  i This tool takes a XLSX file and transfers it into HubSpot properties.
  h3 #[a(href="/Importer Blank.xlsx") Blank Spreadsheet Template]
  p The following property types aren't currently suppported:
    ol
      li Calculation Equations
      li Boolean Checkboxes
      li Checkbox
      li Radio
      li Select (aka Drop Downs)
  h2 #[a(href="https://docs.google.com/document/d/1C56v_kQq_1VA40_d3_TxScEhaPVVC4bDdd5uXotRBKM/edit") Knowledgebase Documentation]
  hr
  p If you have any questions or run into any weird errors, please get in touch with #[a(href="mailto:matt@aptitude8.com") Matt] or #[a(href="mailto:thomas@aptitude8.com") Thomas].
  form(action='/submit-sheet', method='POST',enctype="multipart/form-data")
    label
      | Spreadsheet in XLSX format:
      input(type='file' name='spreadsheet' accept=".xlsx" required)
    label
      | OAuth Token:
      input(type="password" name="token" required)
    input(type='submit', value='Submit')
